extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug

block title
	title title

block pagecontent
	//- .container
	//- 	+in-c("","adasd")
	//- 	+form-wrap
	//- 		+input("placeholder","email","", '') 
	//- 		+input("placeholder","tel","") 
	//- 		+input("placeholder","text","") 
	//- 		+input("placeholder","text","label") 
	//- 		+input("placeholder","textarea","") 
	//- 		+input("placeholder","textarea","label") 
	//- 		+input("","textarea","") 
	//- +pugin()
	.container
		.btn.btn-primary(href="#") .btn.btn-primary
		.btn.btn-warning(href="#") .btn.btn-warning

		h1 fskfndlfnsdflkn
	+mob-mnu()
	+header()
		+top-line()
		+top-nav()
	+header-block()
	+s-form()
	+s-contact()
	+footer()

