mixin form-head()
	form.js-form-validate( data-parsley-validate="") 
		input(type='hidden', class="order", name='order', value=`Заявка  с сайта` ) 
		block

mixin input(pl,  t, p, name )
	mixin t(t,pl)
		if t== "textarea"
			if name
				+e.TEXTAREA.input.form-control( placeholder= pl name= name)&attributes(attributes)
			else
				+e.TEXTAREA.input.form-control( placeholder= pl name= t)&attributes(attributes)
		else if t || t== !"textarea"
			if name
				+e.INPUT.input(type= t placeholder= pl name= name)&attributes(attributes)
			else
				+e.INPUT.input(type= t placeholder= pl name= t )&attributes(attributes)

		else
			if name
				+e.INPUT.input(type="text" placeholder= pl name= name)&attributes(attributes)
			else
				+e.INPUT.input(type="text" placeholder= pl name= t)&attributes(attributes)
	+e.input-wrap
		if p
			label
				+e.SPAN.title= p
				+t(t,pl)
		else
			+t(t,pl)
	// +e.input-wrap


//- wrapper for form
mixin form-wrap()
	+b.form-wrap&attributes(attributes)
		form
			block
//- /wrapper for form


mixin in-c(typ, text, name )
	+b.LABEL.custom-input
		if typ
			+e.INPUT.input(type="radio" , name= name) 
		else
			if name 
				+e.INPUT.input(type="checkbox" , name= name)
			else
				+e.INPUT.input(type="checkbox"  name= typ)

		+e.SPAN.lab
		if block
			block
			
		else
			+e.SPAN.text= text
 
mixin add-file(n)
	+b.add-file
		label
			+e.INPUT.input(name='file', type='file')
			+e.SPAN.btn 
			+e.SPAN.text   Прикрепить резюме
		+e.SPAN.filename 


mixin polite()
	+e.polite
		+in-c('','','checked')(checked)
			+e.SMALL.text.text-secondary Согласен на обработку и хранение моих персональных данных в соответствии с условиями