 
	  
.soc{
	margin: 0 rem(-5px);
	display: flex;
	margin-bottom: rem(20);
	&__item{
		text-decoration: none !important;
		margin: 0 rem(5px);
		vertical-align: middle;
		@include mt;
		display: block;
		width: rem(40);
		height: rem(40);
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid #fff;
		border-radius: rem(3);
		opacity: .6 ;
		&:hover{
			opacity: 1 ;
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
		}
		
	}
	.icon{
	font-size: rem(14);
	}
	 

}
 

.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

