.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-flash {
	font-size:(78.83/10)*1rem;
	width:(83.99/78.83)*1em;
}
.icon-people {
	font-size:(95.1/10)*1rem;
	width:(38.49/95.1)*1em;
}
